bandit==1.7.5
black==23.1.0
flake8==6.0.0
isort==5.12.0
mypy==1.1.1
pytest==7.2.2
pre-commit==3.2.1

# Azure DevOps pipeline specific requirements, delete this if you are not using Azure DevOps
pytest-azurepipelines
